* {
	margin: 0;
}
html, body {
	height: 100%;
}

body{
	background:#F78200 url(../images/genel_zr.gif) top left repeat-y;
	font-size:62.5%;
	font-family:Arial, Helvetica, sans-serif;
}

/* usalan tanimlari */
#ustAlan {
	height: 6.4em;
	background-color:#CCCCCC;
}

/* icerik alani */
.kapsul {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; /* footer yukseklik degeri ile ayn olmali */
}

#solAlan
{
	float: left;
	clear:both;
	width: 15em;
	height: 15em;
	margin-bottom: 1em;
	xbackground-color:#000099;
}

#icerikAlani
{
	margin: 0 0 1em 16em;
	font:1.1em Arial, Helvetica, sans-serif;
}

#icerikAlani:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#icerikAlani {
	display: inline-block;
}

* html #icerikAlani {
	height: 1%;
}

#altAlan, .tampon {
	height: 4em; /* .tampon ile altAlan yuksekligi ayni olmali */
}

#altAlan{
	text-align:center;
	color:#036;
	background-color:#cfc;
}