ul {margin: 0; padding: 0; list-style: none; width:700px}


.column {
/* the proper rules ready for future */
column-count: 3;
column-gap: 20px;

/* Moz/Firefox rules */
-moz-column-count: 3;
-moz-column-gap: 20px;

/* Safari & Chrome rules */
-webkit-column-count: 3;
-webkit-column-gap: 20px;
}