* {
	margin: 0;
}
html, body {
	height: 100%;
}

body{
background:#F78200 url(../images/genel_zr.gif) top left repeat-y;
}

/* usalan tanimlari */
#ustAlan {
	height: 64px;
	background-color:#CCCCCC;
}

/* icerik alani */
.wrapper {
	min-height: 100%;
	background:url(../images/sag_zr.gif) right top repeat-y;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; /* footer yukseklik degeri ile ayn olmali */
}

#solAlan
{
	float: left;
	clear:both;
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	xbackground-color:#000099;
}

#icerikAlan3
{
	margin: 0 160px 10px 160px;
	xbackground-color:#CC9933;
	font:1.1em Arial, Helvetica, sans-serif;
}

#icerikAlan3:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#icerikAlan3 {
	display: inline-block;
}

* html #icerikAlan3 {
	height: 1%;
}

#altAlan, .push {
	height: 4em; /* .push ile altAlan yuksekligi ayni olmali */
}

#altAlan{
	text-align:center;
	color:#036;
	background-color:#cfc;
}


/* 3 kolon lu yapi */

#sagAlan
{
	float: right;
	width: 150px;
	background-color:#ccf;
}