.dl-menuwrapper {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	perspective: 1000px;
	perspective-origin: 50% 200%;
	@media @medium {
		position: fixed;
		max-width: 175px;
		top: 25px;
		left: 25px;
	}
	label {
		top: 0;
		left: 0;
		display: block;
		background: @comp-color;
		border: none;
		width: 48px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		outline: none;
		.border-radius(0,3px,0,0);
		opacity: 0.6;
		@media @medium {
			.border-radius(3px,3px,3px,3px);
		}
	}
	label:hover,
	label.dl-active,
	ul {
		background: #050505;
	}
	label:after {
		content: '';
		position: absolute;
		width: 68%;
		height: 5px;
		background: @white;
		top: 10px;
		left: 16%;
		box-shadow: 
			0 10px 0 @white, 
			0 20px 0 @white;
	}
	label.dl-active {
		display: none;
	}
	ul {
		padding: 0;
		list-style: none;
		transform-style: preserve-3d;
		transition: all .1s linear;
		background-color: #424242;
	}
	li {
		position: relative;
		h4 {
			margin:0;
			padding: 15px 20px 0;
			color: fade(@white,90);
		}
		p {
			margin: 0;
			padding: 15px 20px;
			.font-rem(14);
			color: fade(@white,80);
			a {
				display: inline;
				padding: 0;
				.font-rem(14);
			}
		}
		a {
			display: block;
			position: relative;
			padding: 15px 20px;
			.font-rem(14);
			line-height: 20px;
			color: @white;
			outline: none;
		}
		.dl-back > a {
			padding-left: 30px;
			background: rgba(0,0,0,0.2);
		}
	}
	.dl-menu {
		margin: 0;
		position: absolute;
		width: 100%;
		max-width: 400px;
		overflow-y: auto;
		max-height: 600px;
		opacity: 0;
		pointer-events: none;
		box-shadow: 0 12px 24px fade(@black,35);
		transform: translateY(10px);
		backface-visibility: hidden;

		@media @medium {
			.border-radius(3px,3px,3px,3px);
			max-height: 650px;
		}
	}
	.dl-submenu {
		border-radius: 3px;
		box-shadow: 0 12px 24px fade(@black,35);
	}
	/* Hide the inner submenus */
	li .dl-submenu {
		display: none;
	}
}

.menu-overlay {
	display: none;
}

input[type="checkbox"].menu-ac-kapa {
	display: none;

	&:checked ~ nav {
		z-index: 1002;

		ul {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(-45px);

			li {
				display: block;
			}
		}
	}

	&:checked ~ .menu-overlay {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.3);
		cursor: pointer;
		z-index: 10;
	}
}