// Selection
// --------------------------------------------------
::-moz-selection {
    background-color: lighten(@base-color, 65%);
    color: @base-color;
    text-shadow: none;
}
::selection {
    background-color: lighten(@base-color, 65%);
    color: @base-color;
    text-shadow: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Global Classes
// --------------------------------------------------
.wrap {
    margin: 0 auto;
}
.all-caps {
    text-transform: uppercase;
}
.pull-left {
    float: left;
}
.pull-right {
    float:right;
}
.unstyled-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        list-style-type: none;
    }
}
.inline-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        list-style-type: none;
        display: inline;
    }
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
    .transition(all .2s ease);
}

.cssozelliktanimi {
    background-color: #666;
    color: #fff;
    padding:10px;
    border-radius:0 10px 10px 0;
    box-shadow:inset 0 3px 0 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    @media @large {
        margin:0 -50px 0 -100px;
        position: relative;
        padding-left: 100px;
    }
    @media @large {
        &:before{
            position: absolute;
            left: 0;
            top: -19px;
            width: 19px;
            height: 15px;
            content: '';
            border-width: 0 0 19px 19px;
            border-style: solid;
            border-color: transparent transparent rgba(0,0,0,0.7) transparent;
        }
    }
    strong{
        color:#87ceeb;
    }
}

#___gcse_0 {
    float: left;
    width: 250px;
    position: absolute;
    z-index: 1001;
    right: 0;
    top: -8px;
}

#___gcse_0 .gsc-control-cse {
    background: none !important;
    border: 0 !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0 !important;
}

.gsc-search-button-v2 {
    padding: 5px 15px !important;
}

p.tanitim {
    position: relative;
    margin: 50px -10px 50px 30px;
    background-color: rgb(241, 241, 241);
    padding: 14px 20px 20px 90px;
    box-shadow: 2px 2px 2px rgba(150, 146, 146, 0.3);
    border-radius: 5px 5px 5px 40px;
    font-size: 19px;
    color: #5A5B5F;
    line-height: 1em;
    @media @large {
        margin: 50px 150px;
        padding: 14px 20px 20px 144px;
        line-height: 1.4em;
    }
}

p.tanitim:before {
    content: '';
    display: block;
    width: 112px;
    background: url(https://fatihhayrioglu.com/images/css3-logo.png);
    height: 168px;
    position: absolute;
    background-size: 100%;
    left: -36px;
    background-repeat: no-repeat;
    top: -30px;
    z-index: 1;
    @media @large {
        top: -8px;
        width: 160px;
        height: 240px;
    }
}

p.tanitim:after {
  content: '';
  position: absolute;
  display: block;
  background-color: white;
  height: 5px;
  width: 100%; 
  top: 10px;
  left: 0;
  z-index: 0;
}

p.tanitim strong {
   margin: 14px 0 8px 0;
   color: #5A5B5F;
  font-weight: 600;
}

p.tanitim a {
    display: block;
    background: linear-gradient(to bottom, #e04f42 0%, #d0352c 100%);
    font-size: 20px;
    color: #fafafa;
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
    padding: 8px 16px 12px 16px;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.resmi-ortala {
    text-align: center; 
}