// Typography
// --------------------------------------------------

@base-font: 'Roboto', 'Adjusted Arial Fallback', sans-serif;
@heading-font: 'Roboto', 'Adjusted Arial Black Fallback', sans-serif;
@caption-font: 'Roboto', 'Adjusted Arial Black Fallback', sans-serif;
@code-font: monospace;
@alt-font: serif;

@doc-font-size: 18;
@doc-line-height: 28;

@page-width: 984px; 


// set-up the body font-size / line-height
body {
	margin-top: 0px + @doc-line-height;
	font-size: 0px + @doc-font-size;
}

// Colors
// --------------------------------------------------
@base-color				: #424242;
@body-color      		: #e8e8e8;
@text-color      		: #424242;
@comp-color 	 		: spin(@base-color, 180);
@border-color    		: lighten(@base-color,60);
@white           		: #fff;
@black           		: #000;
@link-color 		    : #222;

@content-link-color 		    : #0066fe;
@content-link-hover-color 		: #ff7f50;

@primary			: @base-color;
@success			: #5cb85c;
@warning			: #dd8338;
@danger				: #C64537;
@info				: #308cbc;
