<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var comments = document.getElementById('disqus_thread'),
        disqusLoaded = false;

    function loadDisqus() {
      var disqus_shortname = '{{ site.disqus_shortname }}'; // required: replace example with your forum shortname
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      disqusLoaded = true;
    }

    //Get the offset of an object
    function findTop(obj) {
      var curtop = 0;
      if (obj.offsetParent) {
        do {
          curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
      return curtop;
      }
    }

    if(window.location.hash.indexOf('#comments') > 0)
      loadDisqus();

    if(comments) {
      var commentsOffset = findTop(comments);

      window.onscroll = function() {
        if(!disqusLoaded && window.pageYOffset > commentsOffset - 1000)
          loadDisqus();
      }
    }
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>