<input type="checkbox" name="menuAcKapa" id="menuAcKapa" class="menu-ac-kapa">
<label for="menuAcKapa" class="menu-overlay"></label>
<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<label for="menuAcKapa" class="dl-trigger">Menüyü Aç</label>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">Ana Sayfa</a></li>
		<li>
			<li><a href="{{ site.url }}/posts/" title="Şimdiye kadar yazdığım tüm yazıların listesi">Tüm Yazılar</a></li>
		</li>
		{% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
<script>
  (function() {
    var cx = '004780390133711217154:ljzeact7g-o';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>