<input type="checkbox" name="menuAcKapa" id="menuAcKapa" class="menu-ac-kapa">
<label for="menuAcKapa" class="menu-overlay"></label>
<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<label for="menuAcKapa" class="dl-trigger">Menüyü Aç</label>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">Ana Sayfa</a></li>
		<li>
			<a href="#">Hakkımda</a>
		</li>
		<li>
			<li><a href="{{ site.url }}/posts/">Tüm Yazılar</a></li>
		</li>
		{% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
