body {
	color: #333;
	font: 76%/1.5 Arial, Helvetica, sans-serif;
	background: #d2d5f0 url(http://www.cvwdesign.com/txp/images/146.jpg) repeat fixed;
}

p { 
	margin: 0 0 15px 0; 
}

#container {
	width: 600px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #FFF;
	border-top: 1px solid #C4C4C4;
	border-right: 1px solid #8A8A8A;
	border-bottom: 1px solid #8A8A8A;
	border-left: 1px solid #C4C4C4;
}

.columns {
	background: #E7F3CF;
	padding: 10px;
	column-count: 3;
	column-gap: 40px;
	column-rule: 3px double #666;	
}  