---
layout: compress
---

<!doctype html>
<html lang="tr">
<head>
{% include head.html %}
</head>

<body id="post-index" class="cssanimations csstransitions {% if page.image.feature %}feature{% endif %} ">
{% include navigation.html %}

<div class="entry-header">
  {% if page.image.credit %}<!--<div class="image-credit">Fotoğraf kaynağı: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div>--><!-- /.image-credit -->{% endif %}
  {% if page.image.feature %}
    <div class="entry-image">
      <!-- <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}"> -->
    </div><!-- /.entry-image -->
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ site.title }}</h1>
      <h2>{{ page.title }}</h2>
      <div class="css-kitabi">
        <p>CSS3 Kitabım Çıktı</p>
        <a href="/css3">Kitap Hakkında</a>
      </div>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
